@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333333;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    border-bottom: 1px solid #3C3C3C;
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);
    
    position: fixed;
    z-index: 1;
    background-color: #333333;
}

header .conteudo{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 10%;
}

nav{
    display: flex;
}

nav a{
    text-decoration: none;
}

.btn{
    background-color: #34ADBE;
    color: white;

    width: 170px;
    height: 40px;

    margin: 0 0 0 33px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
}

.btn:hover{
    background-color: #38DBD5;
}

.btn i{
    font-size: 1.3em;
}

main{
    padding-top: 190px;
    width: 100%;
    height: 85vh;
}

section{
    width: 80%;
    margin: 0 auto;
}

.conteudo{
    width: 80%;

    text-align: center;
    margin: 0 auto;
}

.topo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topo h1{
    font-size: 2em;
    color: white;
}

.controles i{
    font-size: 2em;
    color: white;
} 

.corpo{
    display: flex;
}

.perfil{
    width: 50%;
}

.informacoes{
    height: 50%;
    padding: 20px;
    display: flex;
}

.img-perfil{
    width: 50%;
}

.categorias{
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.categorias p{
    color: white;
}

.resumo{
    padding: 20px;

}

.resumo h2{
    color: white;
}

.resumo p{
    text-align: justify;
    
    width: 90%;
    margin: 0 auto;
    color: white;
}

.servicos{
    width: 50%;
    padding: 10px;
}

.servicos h2{
    margin-bottom: 10px;
    text-transform: uppercase;
    color: white;
}


/* section{
    width: 100%;
    border-bottom: 1px solid #3C3C3C;
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);
    
}

.conteudo-main{
    width: 80%;
    margin: 0 auto;

    color: white;

    text-align: center;

    padding-top: 20px;
    padding-bottom: 40px;
}

.conteudo-main h1{
    font-size: 2.5em;
}

.conteudo-main p{
    font-size: 1.8em;
    margin-bottom: 40px;
}

.conteudo-main h2{
    font-size: 2em;
}

.banners img{
    margin: 0 30px;
}

#bn1{
    width: 210px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-card{
    margin-right: 50px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.card{
    background-color: #67A3AB;
    border: 6px solid #999999;
    border-radius: 60px;
    padding: 10px;

    max-width: 200px;
    min-height: 250px;
}


.card:hover{
    opacity: 0.7;
}

.card p{
    font-size: 1.1em;
    background-color: #C4C4C4;
    padding: 10px;
    border-radius: 50px;
    margin-top: 10px;;
}

.card-img{
    max-width: 167px;
    min-width: 167px;    
} */

footer{
    width: 100%;
    min-height: 150px;

    background-color: #C4C4C4;
    color: #333333;
}

footer a{
    text-decoration: none;
    color: #333333;
}

.conteudos-footer{
    width: 80%;
    height: 100%;

    margin: 0 auto;

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.conteudo-footer{
    text-align: center;
    height: 100%;
    padding: 30px;
}

.conteudo-footer h3{
    font-size: 1.5em;
    text-transform: uppercase;
}

.conteudo-footer p{
    font-size: 1.2em;
}

.redes-sociais img{
    width: 30px;
    margin: 10px 12px;
}
